.header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: rgb(5, 5, 80);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: fixed;
  color: white;
  justify-content: space-between;
}

.login {
  padding: 20px;
  color: white;
}

.home-icon {
  padding: 20px;
  color: white;
}
